name: Build and Test

on:
    push:
        braches:
            - master
        tags:
            - v*
    pull_request:
        branches:
            - master
    schedule:
      - cron:  '7 3 * * *'
    workflow_dispatch:
        inputs:
          logLevel:
            default: warning
            description: "Log level"
            required: true
          tags:
            description: "Test scenario tags"

jobs:
    build-test-linux:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                cloud: [ 'AWS', 'AZURE', 'GCP' ]
                go: [ '1.17', '1.16' ]
        name: ${{ matrix.cloud }} Go ${{ matrix.go }} on Ubuntu
        steps:
            - uses: actions/checkout@v1
            - name: Setup go
              uses: actions/setup-go@v2
              with:
                  go-version: ${{ matrix.go }}
            - name: Format, Lint and WSS
              shell: bash
              env:
                WHITESOURCE_API_KEY: ${{ secrets.WHITESOURCE_API_KEY }}
              run: ./ci/build.sh
            - name: Test
              shell: bash
              env:
                PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
                CLOUD_PROVIDER: ${{ matrix.cloud }}
              run: ./ci/test.sh
    build-test-mac:
        runs-on: macos-latest
        strategy:
            matrix:
                cloud: [ 'AWS', 'AZURE', 'GCP' ]
                go: [ '1.17', '1.16' ]
        name: ${{ matrix.cloud }} Go ${{ matrix.go }} on Mac
        steps:
            - uses: actions/checkout@v1
            - name: Setup go
              uses: actions/setup-go@v2
              with:
                  go-version: ${{ matrix.go }}
            - name: Format, Lint and WSS
              shell: bash
              env:
                WHITESOURCE_API_KEY: ${{ secrets.WHITESOURCE_API_KEY }}
              run: ./ci/build.sh
            - name: Test
              shell: bash
              env:
                PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
                CLOUD_PROVIDER: ${{ matrix.cloud }}
              run: ./ci/test.sh
    build-test-windows:
        runs-on: windows-latest
        strategy:
            matrix:
                cloud: [ 'AWS', 'AZURE', 'GCP' ]
                go: [ '1.17', '1.16' ]
        name: ${{ matrix.cloud }} Go ${{ matrix.go }} on Windows
        steps:
            - uses: actions/checkout@v1
            - name: Setup go
              uses: actions/setup-go@v2
              with:
                  go-version: ${{ matrix.go }}
            - name: Format, Lint and WSS
              shell: cmd
              env:
                WHITESOURCE_API_KEY: ${{ secrets.WHITESOURCE_API_KEY }}
              run: ci\\build.bat
            - uses: actions/setup-python@v1
              with:
                python-version: '3.x'
                architecture: 'x64'
            - name: Test
              shell: cmd
              env:
                PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
                CLOUD_PROVIDER: ${{ matrix.cloud }}
              run: ci\\test.bat
