name: Build and Test

on:
  push:
    braches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master
  schedule:
    - cron: "7 3 * * *"
  workflow_dispatch:
    inputs:
      logLevel:
        default: warning
        description: "Log level"
        required: true
      tags:
        description: "Test scenario tags"
jobs:
  build-test-linux:
    environment: gosnowflake-ci-env
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO(SIG-12289): re-enable tests on cloud providers other than AWS, and for v1.18
        cloud: ["AWS"]
        go: ['1.19']
    name: ${{ matrix.cloud }} Go ${{ matrix.go }} on Ubuntu
    steps:
      - uses: actions/checkout@v1
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Format, Lint
        shell: bash
        run: ./ci/build.sh
      - name: Test
        shell: bash
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
          CLOUD_PROVIDER: ${{ matrix.cloud }}
        run: ./ci/test.sh